/* assets/css/components/_products-container-card.css (Versão Simplificada) */

.products-container-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    padding: 20px;
    /* Reduzido para melhor encaixe em mobile */
    margin-top: 30px;
}

@media (max-width: 600px) {
    .products-container-card {
        padding: 15px;
    }
}
